@import '../../styles/purchase';

.cart-wrapper {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  justify-items: center;
}

.main-container-cart {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100%;
  max-width: 85vw;
  margin: 8vh auto;
  padding: 2rem;
}

.cart-content {
  flex-grow: 1;
  padding: 1rem;
  border: 0.1rem solid #e8e8e8;
  border-radius: 0.5rem;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-label,
.items-on-page-label,
.items-on-page-value {
  font-size: 1.5rem;
  color: #413f3f;
  display: flex;
  gap: 1rem;
}

.items-on-page-value {
  width: 5rem;
  border-color: #8080801f;
  border-radius: 0.5rem;

  &:focus {
    background-color: #bcff8661;
  }
}

.page-buttons {
  display: flex;
  gap: 0.7rem;
}

.prev-page,
.next-page {
  text-align: center;
  width: 3rem;
  border-radius: 0.5rem;

  &:hover {
    background-color: #bcff86;
  }

  &:active {
    position: relative;
    top: 0.2rem;
  }
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 0.1rem solid #e8e8e8;
  border-radius: 0.5rem;
  animation: fadeIn 0.25s;

  .info-container {
    flex-grow: 1;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20vw;
  padding: 1rem;
  border: 0.1rem solid #e8e8e8;
  border-radius: 0.5rem;
  height: fit-content;
  position: sticky;
  top: 1rem;
}

.totals {
  padding: 1rem 0;
}

.full-amount {
  text-decoration: line-through;
}

.promo-codes {
  list-style: none;
}

.promo-code {
  display: flex;
  margin: 1rem;
}

.promo-text {
  display: inline-block;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 10px;
  background: linear-gradient(90deg, #8480c2 0%, #8884c2 47%, #938fca 100%);
}

.promo-delete {
  width: 24px;
  height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.promo-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.promo-hint {
  padding: 1rem;
}

.promo-test {
  display: inline-block;
  width: 80%;
  margin: 0 0.2rem;
  padding: 0 0.5rem;
  user-select: text;
  text-align: center;
  border-radius: 0.5rem;
  border-color: transparent;
  background: linear-gradient(90deg, #8480c2 0%, #8884c2 47%, #938fca 100%);
  align-self: center;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:active {
    position: relative;
    top: 0.2rem;
  }
}

.no-display {
  display: none;
}