$color-main: #8480c2;
$color-main-accent: rgb(135, 8, 255);
$color-main-bright-accent: darkorchid;
$color-lightest: #f3f2f2;
$color-light: #e8e8e8;
$color-shadow: #7e7e7e;
$color-text-primary: #413f3f;
$color-text-darker: #222222;
$color-button-hover: #d0eeab;
$color-button-active: rgb(50, 204, 50);
