$color-main: #8480c2;
$color-main-accent: rgb(135, 8, 255);
$color-main-bright-accent: darkorchid;
$color-main-gradient: linear-gradient(90deg, #8480c2 0%, #8884c2 47%, #938fca 100%);
$color-lightest: #f3f2f2;
$color-light: #e8e8e8;
$color-shadow: #7e7e7e;
$color-shadow-lighter: rgba(202, 202, 202, 0.3);
$color-dark-overlay: rgba(0, 0, 0, 0.6);
$color-text-primary: #413f3f;
$color-text-darker: #222222;
$color-button-hover: #d0eeab;
$color-button-hover-lighter: #f1ffe0;
$color-button-active: rgb(50, 204, 50);
$color-input-focus: #bcff8661;
