.main-text {
    font-size: 2.2rem;
    color: #252323;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;

    @media screen and (max-width: 780px) {
        font-size: 1.75rem;
    }
}

.big-text {
    font-size: 3rem;
    font-weight: 400;

    @media screen and (max-width: 550px) {
        font-size: 2.2rem;
    }
}

.small-text {
    font-size: 1.5rem;
    color: #413f3f;
    text-decoration: none;
    text-transform: capitalize;
    white-space: pre-line;
}

.title {
    font-size: 5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: 10vw;

    @media screen and (max-width: 500px) {
        font-size: 3rem;
    }
}

.bread-text {
    font-size: 3rem;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    color: black;

    &:hover {
        cursor: pointer;
        color: darkorchid;
    }

    @media screen and (max-width: 500px) {
        font-size: 2rem;
        font-weight: 400;
    }
}