.button {
  width: 300px;
  height: 50px;

  color: white;
  background-color: blueviolet;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: darkorchid;
  }

  @media screen and (max-width: 768px) {
    width: 150px;
    height: 25px;
  }
}