* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    user-select: none;
    transition: 0.2s;
    transform: 0.2s;
}

html {
    font-size: 10px;
    font-family: "Roboto";
    font-style: normal;
}

body {
    background-color: #ffffff;
    color: #222222;
    transition: 0.25s;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
    max-width: 120rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main-text {
    font-size: 2.2rem;
    color: #252323;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;

    @media screen and (max-width: 780px) {
        font-size: 1.75rem;
    }
}

.small-text {
    font-size: 1.5rem;
    color: #413f3f;
    text-decoration: none;
    text-transform: capitalize;
    white-space: pre-line;
}

.button {
    background: transparent;
    border: transparent;
    cursor: pointer;
    text-align: justify;

    &:hover {
        color: #000000;
        text-shadow: 0.1rem 0.1rem 0.1rem #7e7e7e;
    }
}

.link {
    font-size: 2rem;
    color: rgb(223, 223, 223);
    text-decoration: none;
    transition: 0.25s;

    @media screen and (max-width: 500px) {
        font-size: 1.6rem;
    }

    &:hover {
        scale: 1.02;
        color: rgb(255, 255, 255);
    }
}

.header-link {
    font-size: 2rem;
    color: rgb(178, 178, 178);
    text-decoration: none;
    transition: 0.25s;

    &:hover {
        scale: 1.05;
    }
}

.header-link:hover {
    text-decoration: underline;
    color: rgb(64, 64, 64);
}

.main-container {
    display: grid;
    gap: 3rem 1.5rem;
    margin: 4rem auto;
    height: 100%;
    grid-template-columns: 22rem 1fr;

    @media screen and (max-width: 608px) {
        display: flex;
        flex-direction: column;
    }
}

.main-container-404 {
    min-height: 61vh;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
}

.header-container {
    height: 10rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 1rem;
}

.intersection {
    background: linear-gradient(90deg, rgba(132, 128, 194, 1) 0%, rgb(136, 132, 194) 47%, rgb(147, 143, 202) 100%);
    width: 100%;
    min-height: 21vh;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #222222;

    @media screen and (max-width: 500px) {
        min-height: 15vh;
    }
}

.filters-content {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 2.5rem;
    gap: 1.5rem;
    min-height: 50rem;
}

.category-and-brand-container {
    display: flex;
    flex-direction: inherit;
    gap: inherit;
}

.footer-container {
    height: 10rem;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: #404040;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    width: 20rem;
    height: 5.5rem;
    background-image: url(../src/assets/images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;

    @media screen and (max-width: 500px) {
        width: 11rem;
        height: 3rem;
    }
}

.header-basket {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    position: relative;
    text-decoration: none;

    &:hover {
        scale: 1.05;
    }
}

.basket-img {
    display: flex;
    width: 2rem;
    height: 2rem;
    background-image: url(../src/assets/icons/basket.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.basket-text {
    font-size: 2rem;
}

.basket-amount {
    position: absolute;
    top: -1rem;
    right: -0.5rem;
    background: rgba(132, 128, 194, 1);
    width: 0.9rem;
    height: 0.9rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.75rem;
    color: #fff;
    padding: 1rem;
}

.title {
    font-size: 5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: 10vw;

    @media screen and (max-width: 500px) {
        font-size: 3rem;
    }
}

.footer-logo {
    display: flex;
    width: 20rem;
    height: 7.5rem;
    background-image: url(../src/assets/icons/rs_school_js.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 500px) {
        width: 16rem;
        height: 5.9rem;
    }
}

.authors-link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search-input,
.promo-input {
    padding: 0.5rem;
    background: #f1f5f8;
    border-radius: 0.5rem;
    border-color: transparent;
    letter-spacing: 0.1rem;
    margin-bottom: 1.2rem;
    width: 95%;

    &:focus {
        color: #3d621f;
        background: #bcff86;
    }

    &:invalid {
        color: crimson;
        border-color: crimson;
        background: rgb(255, 164, 182);
    }
}

.price-slider-container,
.stock-slider-container {
    position: relative;
    min-height: 3rem;
}

.filter-stock-slider,
.price-stock-slider {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.values-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 0.3rem;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
    margin-top: 1.7rem;
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 0.1rem #C6C6C6;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;
    pointer-events: all;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 0.1rem #C6C6C6;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

.slider::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 0.3rem #8708ff, 0 0 0.6rem #8708ff;
    -webkit-box-shadow: inset 0 0 0.3rem #8708ff, 0 0 0.6rem #8708ff;
}

.fromSlider {
    height: 0;
    z-index: 1;
}

.nice-scrollbar-border {
    display: flex;
    padding: 0;
    position: relative;
    align-items: center;
    align-self: center;
    background: linear-gradient(90deg, rgba(132, 128, 194, 1) 0%, rgb(222, 222, 255) 47%, rgba(0, 212, 255, 1) 100%);
    border-radius: 0.5rem;
    margin-bottom: 0.9rem;
    height: 1rem;
    width: 100%;
}

.scrollbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background: #8708ff;
    transition: 0.2s;
}

.scrollbar::-webkit-slider-thumb:active {
    background: #9f3df9;
}

.scrollbar::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
}

.scrollbar {
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    background-color: rgb(208, 205, 205);
    border-radius: 0.5rem;
    width: 99.5%;
    height: 0.7rem;
    appearance: none;
}

.filter-category-buttons,
.filter-brand-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: pre-line;
    max-height: 25rem;
    overflow: auto;
    overflow-y: auto;

    @media screen and (max-width: 608px) {
        max-height: 10rem;
    }
}

.category-button,
.brand-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    padding-right: 1rem;
}

.button-name {
    overflow: hidden;
}

.header-navbar {
    display: flex;
    gap: 2.5rem;
}

.header-nav-and-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.total {
    text-align: center;
}

.link-active {
    border-bottom: 1px solid black;
    cursor: default;
    user-select: none;
    text-decoration: none;
    pointer-events: none;
    color: #404040;
}

.goods-container {
    display: flex;
    flex-direction: column;
    height: auto;
}

.goods-first-line {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 828px) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 500px) {
        position: sticky;
        top: 0;
        background-color: #ffffff;
        z-index: 1;
    }
}

.goods-items {
    display: flex;
    width: 100%;
    height: auto;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.good-item {
    display: flex;
    max-width: 50rem;
    min-width: 25rem;
    max-height: 43rem;
    width: 32%;
    height: auto;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.7rem;
    overflow: hidden;
    gap: 1.3rem;
    transform: 0.2s;
    transition: 0.2s;
    border-radius: 0.5rem;
    border: 0.1rem solid #e8e8e8;
    cursor: pointer;
    justify-content: flex-start;
    background: transparent;
    text-align: justify;
    justify-content: space-between;

    @media screen and (max-width: 1035px) {
        width: 48%;
    }

    @media screen and (max-width: 775px) {
        width: 95%;
        min-width: 20rem;
    }
}

.picture {
    display: flex;
    width: 100%;
    height: 21.5rem;
    border-radius: 1rem;
    background-color: aliceblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: 0.2s;
    transform: 0.2s;
    opacity: 0.7;
}

.picture:hover {
    opacity: 1;
}

.goods-sorting,
.goods-view {
    display: flex;
    gap: 1rem;
    transition: 0.25s;
}

.good-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem;

    @media screen and (max-width: 685px) {
        gap: 0.9rem;
    }
}

.big-picture {
    height: 45rem;
}

.sort-input,
.view-input {
    border-color: transparent;
    text-transform: capitalize;
}

.error-message {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: row;
    max-width: 97rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color: rgba(235, 235, 235, 0.8);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 123rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 90;
}

.close-modal {
    position: fixed;
    top: -5rem;
    right: -2rem;
    font-size: 5rem;
    color: aliceblue;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 110;
}

.good-item-modal {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: flex-start;
    background: transparent;
    text-align: justify;
    border: transparent;
    width: 100%;
}

.good-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-around;
    height: 100%;
}

.button-add-card {
    cursor: pointer;
}

.amount-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.amount-button {
    background: transparent;
    width: 3rem;
    border-radius: 5rem;
    border: 0.1rem solid #969696;
    text-align: center;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0.5rem 0.5rem rgba(202, 202, 202, 0.3);
        border: 0.1rem solid #bcff86;
    }

    &:active {
        border: 0.1rem solid darkorchid;
    }
}

.hide {
    display: none;
}

.selected {
    color: darkorchid;
    border-bottom: 0.1rem solid darkorchid;
}

.disabled,
.disabled1,
.disabled2,
.disabled3,
.disabled4,
.disabled5 {
    opacity: 0.4;
    cursor: default;
    user-select: none;
    text-decoration: none;
    pointer-events: none;
}

.big-button {
    display: block;
    background: transparent;
    border: transparent;
    border-radius: 0.5rem;
    border: 0.1rem solid #e8e8e8;
    padding: 1rem;
    width: 100%;
    font-size: 2rem;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
        background: #f3f2f2;
    }

    &:active {
        border: 0.1rem solid darkorchid;
    }
}

.scroll {
    &::-webkit-scrollbar {
        width: 1.3rem;
        height: 1rem;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0.5rem;
        background: #f3f2f2;
        margin: 0 0.2em;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: #8884c2;
        border-radius: 0.5rem;
        border: 0.2rem solid #f3f2f2;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}

.view-small {
    width: 25%;
    max-width: 21rem;
    min-width: 15rem;
    max-height: 31rem;

    @media screen and (max-width: 1153px) {
        max-width: 18rem;
        max-height: 28rem;
    }

    @media screen and (max-width: 1028px) {
        max-width: 21rem;
        width: 33%;
        padding: 1.2rem;
    }

    @media screen and (max-width: 931px) {
        max-width: 35rem;
        width: 45%;
        padding: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .mobile-hide {
        display: none;
    }
}